/* index */
.index {
    &--text {
        font-family: 'Parisienne', cursive;
        font-size: 50px;
        text-align: center;
        margin-bottom: 2%;
        color: #ff5757
    }

    &--date {
        font-family:'Thasadith';
        color: rgb(34, 31, 31);
        font-size: 40px;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 0;
    }
}

@media only screen and (max-width:480px) {
.index {  
    &--text {
        font-family: 'Parisienne', cursive;
        font-size: 30px;
        text-align: center;
        margin-bottom: 2%;
        color: #ff5757
    }

    &--date {
        font-family:'Thasadith';
        color: rgb(34, 31, 31);
        font-size: 20px;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 0;
    }
}
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .index {  
        &--text {
            font-family: 'Parisienne', cursive;
            font-size: 35px;
            text-align: center;
            margin-bottom: 2%;
            color: #ff5757
        }
    
        &--date {
            font-family:'Thasadith';
            color: rgb(34, 31, 31);
            font-size: 25px;
            text-align: center;
            margin-top: 2%;
            margin-bottom: 0;
        }
    }    
}

@media only screen and (min-width:769px) and (max-width:1024px) {
    .index {  
        &--text {
            font-family: 'Parisienne', cursive;
            font-size: 40px;
            text-align: center;
            margin-bottom: 2%;
            color: #ff5757
        }
    
        &--date {
            font-family:'Thasadith';
            color: rgb(34, 31, 31);
            font-size: 30px;
            text-align: center;
            margin-top: 2%;
            margin-bottom: 0;
        }
    }      
}