/* CSS para footer, nav y header que se mantiene igual */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Thasadith';
    color: whitesmoke;
    background-color: #ff5757;
    position: sticky;
    top: 0;
    width: 100%;
    border: 1px solid black;
    z-index: 1;
}

.hamburger {
    width: 100%;
}

nav ul li a.nav-link {
    text-decoration: none;
    color: whitesmoke;
}

nav ul li a.nav-link:hover {
    text-decoration: none;
    color:black;
}

nav ul li a.nav-link.active {
    text-decoration: none;
    color:whitesmoke;
    font-weight: bold;
    text-decoration: underline;
}

body {
    background-color: whitesmoke;
}


.textExtraInfo {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
    font-family:'Thasadith';
    color: black;
    text-align: center;
    font-size: 20px;
}