/* RSVP */

.confirmation {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 40%;
    grid-template-areas: "Ceremony Party"
                         "CeremonyMap PartyMap"
                         "Form Form";
    justify-items: center;
    align-items: center;

    .ceremony {
        grid-area: Ceremony;
        padding-top: 5%;

        &__p{
            color: #ff5757;
            font-family: 'Parisienne';
            font-size: 35px;
            text-align: center;
            margin-bottom: 0;
        }

        &__img{
            max-width: 400px;  
        }
    }

    .ceremonyMap {
        grid-area: CeremonyMap;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .party {
        grid-area: Party;
        padding-top: 5%;

        &__p {
            @extend .ceremony__p;
        }

        &__img {
            @extend .ceremony__img;
        }
    }

    .partyMap {
        grid-area: PartyMap;
        @extend .ceremonyMap; 
    } 

    .center-element .ceremony__p {
        display: none;

        @media only screen and (max-width:849px){
            display: block;
        }
    }

    .center-element .party__p {
        display: none;

        @media only screen and (max-width:849px){
            display: block;
        }
    }
}


/* Form */

.survey {
    grid-area: Form;
    margin: 5%;
    font-family:'Thasadith';
    color: black;
    font-size: 15px;
}

.surveyItems {
    padding: 0.5%;
    width: 100%;
}

.button {
    text-align: center;
    margin-bottom: 3%;
}

@media only screen and (max-width:849px){
    .confirmation {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;

        .ceremony {
            display: none;
        }

        .party {
            display: none;
        }
    }
    .ceremonyMap {
        width: 100%;
    }

    .partyMap {
        width: 100%;
    }
}
    
