/* Story */
@mixin parrafo ($fontFamily, $color, $fontSize) {
    font-family: $fontFamily;
    color: $color;
    font-size: $fontSize;
}

@mixin titulo ($fontFamily, $color, $fontSize) {
    font-family: $fontFamily;
    color: $color;
    font-size: $fontSize;    
}


.storyUno {
    text-align: center;
    padding-top: 2%;

    p {
        @include parrafo ("Thasadith", black, 28px);
        margin-bottom: 0;
    }

    h3 {
        @include titulo ('Parisienne', #ff5757, 38px);
    }
}

.storyDos {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    &__text {
        @include parrafo ("Thasadith", black, 15px);
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    &__title {
        @include titulo ('Parisienne', #ff5757, 35px);
        margin-top: 3%;
    }

    &--howWeMeet {
        display: flex;
        margin:1%;
        align-items: center;
    }

    &--ourFirstKiss {
        display: flex;
        margin: 1%;
        align-items: center;
        flex-direction: row-reverse;
    }
    
    &--proposal {
        display: flex;
        margin: 1%;
        align-items: center;
    }

    &__img {
        max-width: 500px;
        transition: all 0.3s linear;
    }

    &__img:hover {
        transform: scale(0.93);
    }
}

@media only screen and (max-width:480px) {
    .storyUno {
        p {
            @include parrafo ("Thasadith", black, 18px);
        }

        h3 {
            @include titulo ('Parisienne', #ff5757, 28px);
        }
    }
    .storyDos {
        &__img {
            max-width: 250px;
        }

        &__text {
            @include parrafo ("Thasadith", black, 12px);
        }
    
        &__title {
            @include titulo ('Parisienne', #ff5757, 25px);
        }

        &--howWeMeet {
            display: flex;
            flex-wrap: wrap;
        }
    
        &--ourFirstKiss {
            display: flex;
            flex-wrap: wrap;
        }
        
        &--proposal {
            display: flex;
            flex-wrap: wrap;
        }
    }
    }
    
@media only screen and (min-width:481px) and (max-width:1020px) {
    .storyUno {
        p {
            @include parrafo ("Thasadith", black, 20px);
        }

        h3 {
            @include titulo ('Parisienne', #ff5757, 30px);
        }
    }
    .storyDos {
        &__img {
            max-width: 400px;
        }

        &__text {
            @include parrafo ("Thasadith", black, 15px);
        }
    
        &__title {
            @include titulo ('Parisienne', #ff5757, 28px);
        }

        &--howWeMeet {
            display: flex;
            flex-wrap: wrap;
        }
    
        &--ourFirstKiss {
            display: flex;
            flex-wrap: wrap;
        }
        
        &--proposal {
            display: flex;
            flex-wrap: wrap;
        }
    }
    }
    